.Wraper {
    /* margin-left: 12vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: -1;

    
    /* background-color: black; */
}
.color{
    background-color:#3E5095;
    color: white;
}
.card-txt{
    margin-left: 10px;
}
.icon-card{
    display: flex;
    /* widht:30%; */
    margin-left:20px
}
.card-info{
    
    width: 70%;
}
.card{
    /* align-items: center; */
    justify-content: center;
    height:120px;
    width: 300px;
    box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.43);
}
.dsb-top{
 margin: 10px;
 height: 15vh;
 width:50vw ;
 padding-right: 100px;
 margin-top: 30px;

}

.dsb-mdl {
   margin: 10px;
   height: 30vh;
   /* width: 83vw; */
 box-shadow:         1px 1px 16px 0px rgba(50, 50, 50, 0.43);

}

.dsb-btm {
    margin: 5px
}