.Wraper {
    min-width: 100vw;
    max-height: 20vh;
    

    /* background-color: black; */
}
.color{
    background-color:#3E5095;
    color: white;
}
/* .mb-3{
    z-index: -1;
} */
.table{
max-height: 50vh;
position: sticky;
/* z-index: -1; */

}