.delete-btn{
    background-color: #FF6A14;
    border-width: 0px;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    
}
.delete-btn:hover{
    background-color:#FF8C49; 
    }
.add-btn{
    background-color: #1E2749;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 0px;
    border-radius: 20px;
    color: white;
}
.add-btn:hover{
    background-color:#3E5095

 
}